{% include 'pillowmart/header.html' %}

<section class="breadcrumb_part">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb_iner">
<h2>confirmation</h2>
</div>
</div>
</div>
</div>
</section>


<section class="confirmation_part section_padding">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="confirmation_tittle">
<a href="/login"><button class="btn_3">Your account has been verified. Please login now !! </button></a>
</div>
</div>

</div>

</div>
</section>


<footer class="footer_part">
<div class="footer_iner section_bg">
<div class="container">
<div class="row justify-content-between align-items-center">
<div class="col-lg-8">
<div class="footer_menu">
<div class="footer_logo">
<a href="index-2.html"><img src="../../static/img/xlogo.png.pagespeed.ic.7CAEGz4EKB.png" alt="#"></a>
</div>
<div class="footer_menu_item">
<a href="index-2.html">Home</a>
<a href="about.html">About</a>
<a href="product_list.html">Products</a>
<a href="#">Pages</a>
<a href="blog.html">Blog</a>
<a href="contact.html">Contact</a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="social_icon">
<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-google-plus-g"></i></a>
<a href="#"><i class="fab fa-linkedin-in"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="copyright_part">
<div class="container">
<div class="row ">
<div class="col-lg-12">
<div class="copyright_text">
<P>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
</P>
<div class="copyright_link">
<a href="#">Turms & Conditions</a>
<a href="#">FAQ</a>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>


<script src="../../static/js/jquery-1.12.1.min.js"></script>

<script src="../../static/js/popper.min.js%2bbootstrap.min.js.pagespeed.jc.UGTC3K06rk.js"></script><script>eval(mod_pagespeed_khsWeylf6f);</script>

<script>eval(mod_pagespeed_df4zexQuSo);</script>

<script src="../../static/js/jquery.magnific-popup.js"></script>

<script src="../../static/js/swiper.min.js"></script>

<script src="../../static/js/mixitup.min.js"></script>

<script src="../../static/js/owl.carousel.min.js%2bjquery.nice-select.min.js%2bslick.min.js%2bjquery.counterup.min.js%2bwaypoints.min.js.pagespeed.jc.xRZGV2EDJU.js"></script><script>eval(mod_pagespeed_eYdLwurxd0);</script>
<script>eval(mod_pagespeed_fAykj0bzdS);</script>

<script>eval(mod_pagespeed_aGkt6cXVxA);</script>
<script>eval(mod_pagespeed_xLbrAK7Eb4);</script>
<script>eval(mod_pagespeed_Ok2tIDjBrU);</script>
<script src="../../static/js/contact.js%2bjquery.ajaxchimp.min.js%2bjquery.form.js%2bjquery.validate.min.js%2bmail-script.js%2bcustom.js.pagespeed.jc.GtuV6hk-S8.js"></script><script>eval(mod_pagespeed_c9IMYFRWpB);</script>
<script>eval(mod_pagespeed_n5gWue9glI);</script>
<script>eval(mod_pagespeed_fFlEj0FChH);</script>
<script>eval(mod_pagespeed_G8SJcDF9Vn);</script>
<script>eval(mod_pagespeed_QRVX0MIDnp);</script>

<script>eval(mod_pagespeed_WKkdllRLDx);</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="../../../static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"65668e666d670e18","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.5.2","si":10}'></script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/pillowmart/confirmation.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 May 2021 09:47:16 GMT -->
</html>